[submodule "extern_libs/curlpp"]
	path = extern_libs/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "extern_libs/pugixml"]
	path = extern_libs/pugixml
	url = https://github.com/zeux/pugixml.git
